body {
  background-color: #1a0033;
}

.title {
  text-align: center;
  font-family: Arial;
  padding: 10px 30px 10px;
  color: #bb8623;
  font-size: 20px;
}

.block {
  width: 100%;
  text-align: center;
}

.buttons {
  font-family: Arial;
  border: none;
  color: #bb8623;
  background-color: #28004d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 60px;
  transition-duration: 0.4s;
  font-size: 20px;
}

.footer {
  font-family: Arial;
  font-size: 20px;
  color: #bb8623;
  padding: 200px 20px 10px;
  text-align: center;
}

.buttons:hover {
  background-color: white;
}

.twitch {
  padding: 20px 30px;
}
.twitter {
  padding: 20px 30px;
}
.youtube{
  padding: 20px 30px;
}
.github {
  padding: 20px 30px;
}
.plan {
  padding: 20px 30px;
}
