body {
  background-color: #1a001a;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #660033;
  position: relative;
  left: 44%;
  margin-top: 100px;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #660033;
  position: absolute;
  bottom: 50%;
  left: 40%;
  margin-top: 100px;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: #e0ccff;
  border: 5px solid #9146FF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition-duration: 0.4s;
  font-size: 24px;

}

.twitch {
    position: absolute;
    left: 46%;
    top: 150px;
}

.twitch:hover {
  background-color: #9146FF;
  border: 5px solid #9146FF;
}

.twitter {
    position: absolute;
    left: 38%;
    top: 150px;
}

.twitter:hover {
  background-color: #9146FF;
  border: 5px solid #9146FF;
}

.youtube {
    position: absolute;
    left: 53.9%;
    top: 150px;
}

.youtube:hover {
  background-color: #9146FF;
  border: 5px solid #9146FF;
}

.trovo {
    position: absolute;
    left: 42.5%;
    top: 230px;
}

.trovo:hover {
  background-color: #9146FF;
  border: 5px solid #9146FF;
}

.github {
    position: absolute;
    left: 50%;
    top: 230px;
}

.github:hover {
  background-color: #9146FF;
  border: 5px solid #9146FF;
}
