body {
  background-color: #020132;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #bb8623;
  position: relative;
  font-size: 2.5vw;
  left: 41vw;
  margin-top: 2vw;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  color: #bb8623;
  position: absolute;
  bottom: 20vh;
  left: 38vw;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: #18085d;
  padding: 2vh 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 60px;
  transition-duration: 0.4s;
  font-size: 2vw;
}

.twitch {
    position: absolute;
    left: 37vw;
    top: 15vh;
}

.twitch:hover {
  background-color: #9146FF;
}

.twitter {
    position: absolute;
    left: 46vw;
    top: 15vh;
}

.twitter:hover {
  background-color: #9146FF;
}

.youtube {
    position: absolute;
    left: 55vw;
    top: 15vh;
}

.youtube:hover {
  background-color: #9146FF;
}

.trovo {
    position: absolute;
    left: 41.5vw;
    top: 25vh;
}

.trovo:hover {
  background-color: #9146FF;
}

.github {
    position: absolute;
    left: 51vw;
    top: 25vh;
}

.github:hover {
  background-color: #9146FF;
}
